<launch>
  <arg name="model" />
  <arg name="gui"  default="False" />
  <!-- Loading model files -->
  <param  name="robot_description"  textfile="$(find scout_description)/urdf/scout_mini.urdf" />
  <param  name="use_gui"  value="$(arg gui)" />
  <!-- Launch  the joint state publisher -->
  <node  name="joint_state_publisher"  pkg="joint_state_publisher"  type="joint_state_publisher" />
  <!-- Launch  the robot state publisher -->
  <node  name="robot_state_publisher"  pkg="robot_state_publisher"  type="robot_state_publisher" />
  <!-- Loading rviz files -->
  <node name="rviz"  pkg="rviz"  type="rviz"  args="-d $(find scout_description)/rviz/scout_mini_model_display.rviz" />
</launch>
